@charset "UTF-8";
.lt_main {
  padding: 10px;
}
.lt_main .search{
  width: 100%;
  height: 34px;
  position: relative;
}
.lt_main .search input {
  height: 34px;
  border-radius: 5px;
  font-size: 12px;
  padding-right: 56px;
  border: 1px solid #007AFF;
}
.lt_main .search button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 5px 5px 0;
}
.lt_main .search_history {
  margin-top: 20px;
  font-size: 12px;
  color: #666;
}
.lt_main .search_history .title {
  height: 30px;
  line-height: 30px;
}
.lt_main .search_history a {
  color: #666;
}
.lt_main .search_history .info ul {
  border: 1px dashed red;
  border-bottom: none;
}
.lt_main .search_history .info li{
  height: 30px;
  border-bottom: 1px dashed red;
  line-height: 30px;
}
.lt_main .search_history .info li a {
  color: #007aff;
  padding:0 15px;
}
.lt_main .search_history .info li i {
  line-height: 30px;
}