<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./lib/nprogress/nprogress.css">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/user.css">
</head>
<body>
<div class="lt_aside">
  <div class="title">
    <h3>黑马26期</h3>
  </div>
  <div class="user">
    <img src="../upload/product/837a4901-a074-11e8-ae45-ab028ffbb8aa.jpg" alt="">
    <p>超级管理员</p>
  </div>
  <ul class="nav_mangment">
    <li>
      <a href="user.html" class="active">
        <i class="glyphicon glyphicon-user"></i>
        <span>用户管理</span>
      </a>
    </li>
    <li>
      <a href="javascript:;" class="category">
        <i class="glyphicon glyphicon-list"></i>
        <span>分类管理</span>
      </a>
      <div class="second_nav" style="display: none;">
        <a href="first.html" class="first">一级分类</a>
        <a href="second.html" class="second">二级分类</a>
      </div>
    </li>
    <li>
      <a href="good_mangment.html">
        <i class="glyphicon glyphicon-tags"></i>
        <span>商品管理</span>
      </a>
    </li>
  </ul>
</div>
<div class="topbar">
  <a href="#" class="pull-left">
    <i class="glyphicon glyphicon-align-justify"></i>
  </a>
  <a href="#" class="pull-right">
    <i class="glyphicon glyphicon-log-out"></i>
  </a>
</div>
<div class="lt_main">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="#">管理系统</a></li>
      <li class="active">用户管理</li>
    </ol>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>序号</th>
        <th>用户名</th>
        <th>手机号</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
    <div class="pagintors pull-right">
      <ul id="pagintor" class="pull-right"></ul>
    </div>
  </div>
</div>
<!-- 模态框 -->
<div class="modal fade" id="myModal" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">温馨提示</h4>
      </div>
      <div class="modal-body">
        <i class="glyphicon glyphicon-info-sign"></i>
        <span>您确定要退出登陆吗</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-success btns-confirm">退出</button>
      </div>
    </div>
  </div>
</div>
<!--模态框二-->
<div class="modal fade" id="myModal2" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">温馨提示</h4>
      </div>
      <div class="modal-body">
        <i class="glyphicon glyphicon-info-sign"></i>
        <span>您确定要执行此次操作吗</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-success btn-confirm">退出</button>
      </div>
    </div>
  </div>
</div>
<!--准备模板-->
<script type="text/template" id="tmp">
  {{ each rows v i }}
  <tr>
    <td>{{ i+1 + (page-1)*size }}</td>
    <td>{{ v.username }}</td>
    <td>{{ v.mobile }}</td>
    <td>{{ v.isDelete == 1? "已禁用":"正常"}}</td>
    <td data-id="{{v.id}}">
      {{if v.isDelete == 0}}
      <button class="btn btn-default btn-forbit">禁用</button>
      {{/if}}
      {{ if v.isDelete == 1}}
      <button class="btn btn-success btn-use">启用</button>
      {{/if}}
    </td>
  </tr>
  {{/each}}
</script>
<script src="./lib/jquery/jquery.min.js"></script>
<script src="./lib/bootstrap/js/bootstrap.min.js"></script>
<script src="./lib/nprogress/nprogress.js"></script>
<script src="./lib/artTemplate/template-web.js"></script>
<script src="./lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="./js/common.js"></script>
<script src="./checklogin.js"></script>
<script src="./js/user.js"></script>
</body>
</html>