<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
  <script src="./lib/nprogress/nprogress.css"></script>
  <link rel="stylesheet" href="./css/common.css">
</head>
<body>
<div class="lt_aside">
  <div class="title"><a href="javascript:;">黑马26期</a></div>
  <div class="user">
    <img src="../upload/product/694e1ed0-a0f1-11e8-a3d6-3df79a02e657.jpg" alt="">
    <p>超级管理员</p>
  </div>
  <ul class="aside_nav">
    <li>
      <a href="javascript:;">
        <i class="glyphicon glyphicon-user"></i>
        <span>用户管理</span>
      </a>
    </li>
    <li>
      <a href="user_mangment.html" class="category">
        <i class="glyphicon glyphicon-list"></i>
        <span>分类管理</span>
      </a>
      <div class="hidden_nav" style="display: none;">
        <a href="first.html" class="first">一级分类</a>
        <a href="second.html" class="first">二级分类</a>
      </div>
    </li>
    <li>
      <a href="javascript:;" class="active">
        <i class="glyphicon glyphicon-tags"></i>
        <span>商品管理</span>
      </a>
    </li>
  </ul>
</div>
<div class="lt_main">
  <div class="topbar">
    <a href="#" class="pull-left">
      <i class="glyphicon glyphicon-align-justify"></i>
    </a>
    <a href="#" class="pull-right">
      <i class="glyphicon glyphicon-log-out"></i>
    </a>
  </div>
  <div class="botbar">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li><a href="#">管理系统</a></li>
        <li class="active">商品管理</li>
      </ol>
      <div class="lt-content">
        <button class="btn btn-default mb_20 add-goods">添加商品</button>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th width="10%">序号</th>
            <th width="30%">商品名称</th>
            <th width="20%">商品描述</th>
            <th width="10%">商品库存</th>
            <th width="10%">商品尺寸</th>
            <th width="10%">商品状态</th>
            <th width="10%">操作</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        <div class="text-right">
          <ul id="pagintor"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">温馨提示</h4>
      </div>
      <div class="modal-body">
        <i class="glyphicon glyphicon-info-sign"></i>
        <span>您确定要退出后台管理系统吗</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary logout_confirm">退出</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addmyModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title" id="addmyModalLabel">添加商品</h4>
      </div>
      <div class="modal-body">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary logout_confirm">退出</button>
      </div>
    </div>
  </div>
</div>

<!--准备表格渲染模板-->
<script type="text/template" id="tmp">
  {{each rows v i}}
   <tr>
     <td>{{i+1+(page-1)*size}}</td>
     <td>{{v.proName}}</td>
     <td>{{v.proDesc}}</td>
     <td>{{v.num}}</td>
     <td>{{v.size}}</td>
     <td>{{v.statu==1?'已上架':'已下架'}}</td>
     <td>
       {{if v.statu == 1 }}
       <button class="btn btn-danger">下架</button>
       {{/if}}
       {{if v.statu == 0}}
       <button class="btn btn-success">上架</button>
       {{/if}}
     </td>
   </tr>
  {{/each}}
</script>
<!--填充下拉菜单-->
<script src="./lib/jquery/jquery.min.js"></script>
<script src="./lib/bootstrap/js/bootstrap.min.js"></script>
<script src="./lib/nprogress/nprogress.js"></script>
<script src="./lib/artTemplate/template-web.js"></script>
<script src="./lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="./js/common.js"></script>
<script src="./js/goods.js"></script>
</body>
</html>